django
django-heroku
certifi==2022.12.7
gunicorn
flask
pymongo
Flask-PyMongo
psycopg2
requests
splinter
pandas
numpy
Flask-RESTful
Jinja2
MarkupSafe==0.23
aniso8601==0.82
itsdangerous==0.24
pytz>=2017.2
six==1.7.2
