<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Predicting HDI: Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
  <div class="container-fluid">

    <!-- Header -->
    <header class="row">
      <h1><a href="/">Predicting HDI</a></h1>
      <!-- Navigation -->
      <nav>
          <ul>
              <li><a href="/">Intro</a></li>
              <li><a href="/primary">Primary Indicators</a></li>
              <li><a href="/secondary">Secondary Indicators</a></li>
              <li><a href="/predictor">Predicting HDI</a></li>
              <li class="active">About the Data</li>
          </ul>
      </nav>
    </header>

    <div class="row main-content">
      <div class="col-xs-6 col-s-6 col-m-6 col-lg-6">
        <h3>The Data</h3>
        <p>We are interested in exploring the Sustainable Development Goals set forth by The World Bank that they would like to
          achieve by 2030. These goals are measured by several <a
          href="http://datatopics.worldbank.org/world-development-indicators/" target="new">World Development Indicators (WDI)</a>.
          We will select several indicators to help predict the development of a country as measured by the <a
          href="http://hdr.undp.org/en/data#" target="new">Human Development Index</a>. The Human Development Index (HDI) is a 
          comprehensive measure of the development of a country that takes into account factors other than just GDP such as health, 
          education, infrastructure, etc.</p>
      </div>

      <div class="col-xs-6 col-s-6 col-m-6 col-lg-6">
        <h3>The Machine Learning Model</h3>
        <p>For this project, we used a multilinear regression model since HDI was numerical and we had a few features/indicators 
          to consider. During the charting and modelling process we discovered that some indicators, such as life expectancy and
          agriculture, weighed on the model much more heavily than others because they had strong linear relationships 
          individually with HDI. Surprisingly GDP and GNI did not have much affect on HDI. The ML model helped us to identify
          the strongest predictors of HDI.</p>

        <h3>Conclusion</h3>
        <p>Economists often use GDP as a measure of a country's "success" or development. However, our research has shown that 
          other indicators, such as education or gender equality, affect HDI much more than GDP. We hope that leaders and 
          economists can explore other indicators besides just GDP and GNI to improve human development within their countries 
          and the global community.</p>
      </div>

    </div>

    <!-- Footer -->
    <footer class="row">
      <p>&copy;2020 Ellen Hsu, Samita Limbu, Lindsey McKenna - University of Oregon Data Analytics Boot Camp.</p>
    </footer>

  </div>
</body>
</html>