<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>COVID-19 Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static','css', filename='styles.css') }}" />
</head>

<body>
  <div class="container-fluid">

    <!-- Header -->
    <header class="row">
      <h1><a href="/">COVID-19</a></h1>
      <!-- Navigation -->
      <nav>
          <ul>
              <li class="active">Dashboard</li>
              <li><a href="/map-world">World Map</a></li>
              <li><a href="/map-us">U.S. Map</a></li>
          </ul>
      </nav>
    </header>

    <div class="row main-content">
      <h3>Our Research</h3>
      <p>For this project we were interested in analyzing the <a
        href="http://datatopics.worldbank.org/world-development-indicators/" target="_blank">World Development Indicators (WDI)</a>
        that have been tracked by the World Bank for more than 50 years in order to help achieve global development goals. 
        In conjunction, the U.N. has developed the <a 
        href="http://hdr.undp.org/en/data#" target="_blank">Human Development Index (HDI)</a> to focus 
        on the criteria that define human achievement beyond just economic development. We wanted to discover which WDIs in 
        particular affect HDI and what level of values can help increase HDI. Our "primary" indicators 
        were simply those that most countries have data for and have been tracked the longest. Our "secondary" indicators are ones
        that we discovered to be highly related to HDI and worth exploring, despite less availability of tracked data.</p>

    </div>

    <!-- Footer -->
    <footer class="row">
      <p>&copy;2020 Ellen Hsu | <a href="https://github.com/ellemonke" target="_new">GitHub</a></p>
    </footer>

  </div>
</body>
</html>