<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Predicting HDI: Application</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
  <div class="container-fluid">

    <!-- Header -->
    <header class="row">
      <h1><a href="/">Predicting HDI</a></h1>
      <!-- Navigation -->
      <nav>
          <ul>
              <li><a href="/">Intro</a></li>
              <li><a href="/">Primary Indicators</a></li>
              <li><a href="/">Secondary Indicators</a></li>
              <li><a href="/predictor">Predicting HDI</a></li>
              <li><a href="/">About the Data</a></li>
          </ul>
      </nav>
    </header>

    <div class="row main-content">

      <h3>The App</h3>
      <p>Some World Development Indicators (WDIs) contribute to HDI more than others. Find the WDIs that help predict HDI
        using the form below. Once you have a good predictive model with an R<sup>2</sup> score > 0.8, you can calculate a country's 
        HDI by filling in the (known or estimated) values for each indicator.</p>

      <form class="row">
      <div class="form-group">

        <p>Step 2: Input estimated values to predict HDI.</p>

        <div class="row">
          <label class="right" for="lifeexpectancy">Life Expectancy (Years)</label>
          <input class="wide" type="number" id="lifeexpectancy">
        </div>
        <div class="row">
          <label class="right" for="agriculture">Agriculture (% of GDP)</label>
          <input class="wide" type="number" id="agriculture">
        </div>
        <div class="row">
          <label class="right" for="gdp">GDP (bil USD)</label>
          <input class="wide" type="number" id="gdp">
        </div>
        <div class="row">
          <label class="right" for="population">Population</label>
          <input class="wide" type="number" id="population">
        </div>
        <div class="row">
          <label class="right" for="employment">Employment (%)</label>
          <input class="wide" type="number" id="employment">
        </div>

        <div class="row scores">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-default">Model Score:</button>
            <div id="score"> {{ output.score }}</div>      
          </div>            

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button type="submit" class="btn btn-primary" href="/score" role="button">Predict HDI</button>
            <div id="hdi"> {{ output.hdi }}</div>                    
          </div>            
        </div>

      </div>
      </form>

      <div class="row end">
        <p>HDI > 0.8 is considered well-developed. How did your country do?</p>
      </div>
          
    </div>
    
    <!-- Footer -->
    <footer class="row">
      <p>&copy;2020 Ellen Hsu, Samita Limbu, Lindsey McKenna - University of Oregon Data Analytics Boot Camp.</p>
    </footer>

  </div>
</body>
</html>