<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Predicting HDI: Secondary Indicators</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container-fluid">

        <!-- Header -->
        <header class="row">
            <h1><a href="/">Predicting HDI</a></h1>
            <!-- Navigation -->
            <nav>
                <ul>
                    <li><a href="/">Intro</a></li>
                    <li class="active">Primary Indicators</li>
                    <li><a href="/secondary">Secondary Indicators</a></li>
                    <li><a href="/predictor">Predicting HDI</a></li>
                    <li><a href="/data">About the Data</a></li>
                </ul>
            </nav>
        </header>
        <!-- Body Content -->
        <!--Section: Gallery-->
        <section id="gallery">
            <!--Grid row-->
        <div class="row indicator-option"></div>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    <!--Carousel Wrapper-->
                    <div id="edu" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#edu" data-slide-to="0" class="active"></li>
                            <li data-target="#edu" data-slide-to="1"></li>
                            <li data-target="#edu" data-slide-to="2"></li>
                            <li data-target="#edu" data-slide-to="3"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="image-wrap">
                                    <img src="/static/images/Life-expectancy_HDI.png" 
                                    alt="Life-expectancy">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="image-wrap">
                                    <img src="/static/images/Agriculture_HDI.png"
                                        alt="Agriculture contribution to GDP">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="image-wrap">
                                    <img src="/static/images/GNI_HDI.png"
                                        alt="Gross National Income">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="image-wrap">
                                    <img src="/static/images/Employment_HDI.png"
                                        alt="Workforce with Advanced Education">
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#edu" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#edu" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                    <!--/.Carousel Wrapper-->
                </div>
                <!--Grid column-->

                <!--Grid column 2 Start-->
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">

                    <!--Excerpt-->
                    <h3>Primary Indicators</h3>

                    <h6><strong>Life-expectancy, National Income, and Agriculture defines HDI.</strong></h6>
                    <p> Life-expectancy, National Income (GNI), and Agriculture has a strong correlation with Nation's 
                        Human Development Index (HDI). Higher life-expectancy and national-income indicated 
                        higher HDI. On contrary, higher Agricultural contribution to GDP suggested lower HDI.
                    </p>
                    <p> Nation's employment (%) do not define HDI. Therefore, life-expectancy, GNI and Agricultural contribution
                        to GDP could be used to build a model to predict HDI. 
                    </p>
                    
                </div>
                <!--Grid column 2 End-->

            </div>
            <!--Grid row-->

        </section>
            <!-- Footer -->
    <footer class="row">
            <p>&copy;2020 Ellen Hsu, Samita Limbu, Lindsey McKenna - University of Oregon Data Analytics Boot Camp.</p>
          </footer>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </div>
</body>

</html>